body{
    background-color: lightblue;
}
.row{
    columns: 400px 2;
    columns: auto;
}
li{
    list-style-type:none ;
    display: inline-block;
    margin-top: 70px;
}
li a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
    padding-left: 20px;
}
li a:hover{
    text-decoration: none;
    color: #000000;
}
.footer p{
    margin-top: 70px;
    font-size: 1em;
}